/* .ContenedorCenter{
    background-color: rgb(238, 238, 238);
 }
  */

  body{
    background-color: #b2f3ff;
  }


  


  .awssld__content {
    background-color: #ffffff;  
  }
  

html {
  scroll-behavior: smooth;
}

  




@media(max-width:768px){






.ContenedorCenter{
    text-align: center;
   /* background-color: aqua; */
}
.CSkill{
    /* width: "22rem"; */
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
}