/* .ContenedorCenter{
    background-color: rgb(238, 238, 238);
 }
  */

  .contenedorP{
    background: 'linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0))'
  }
  
  .animated-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para la animación y la sombra */
    border: none;
    padding: 0.5rem;
    /* box-shadow: 0 90px 16px rgba(70, 70, 255, 0.99); Sombra predeterminada */
  }
  
  .animated-card:hover {
    transform: scale(1.1); /* Escala al hacer hover */
    box-shadow: 0 5px 15px rgba(198, 198, 254, 0.91); /* Aumenta la sombra al hacer hover */
  }
  
  
::-webkit-scrollbar {
  width:5px; 
}


::-webkit-scrollbar-track {
  background-color: #d7eaff;
}


::-webkit-scrollbar-thumb {
  background-color: hsl(203, 100%, 72%);
  border-radius: 6px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #00cff3;
}
html {
  scroll-behavior: smooth;
}

  




@media(max-width:768px){
.ContenedorCenter{
    text-align: center;
   /* background-color: aqua; */
}
.CSkill{
    /* width: "22rem"; */
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
}