/* .ContenedorCenter{
    background-color: rgb(238, 238, 238);
 }
  */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a3d2ff;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #86a3ff;
}


html {
  scrollbar-width: thin;
  scrollbar-color: #62c6ff #f1f1f100;
}







  body{
    background-color: #b2f3ff;
  }


  


  .awssld__content {
    background-color: #ffffff;  
  }
  

html {
  scroll-behavior: smooth;
}

  




@media(max-width:768px){






.ContenedorCenter{
    text-align: center;
   /* background-color: aqua; */
}
.CSkill{
    /* width: "22rem"; */
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
}